.User{
    display: inline-block;
}
.User-image{
    width: 50px;
    height: auto;
    /* border-radius: 50px; */
    /* float: left; */
    margin-left: 10px;
    display: inline-block;
}
.User-name{
    display: inline-block;
    font-size: 20px;
}
