.ThreadList-search {
  width: 110vw;
  background-position-x: 25px !important;
  padding-left: 55px !important;
  margin-left: -19%;
}

.ThreadList-ask{
  text-align: center;
  width: 100%;
}

.ThreadList-search-ask{
  text-align: right;
  width: 100%;
}

.ThreadList-ask kbd{
  text-align: center
}
.ThreadList-search-ask kbd{
  text-align: center
}

@media only screen and (max-width: 700px) {
  .App-content {
    width: 100%;
    margin-left: 0;
  }
  .ThreadList-search {
    margin-left: -13px;
  }
}