.PageHeader {
  color: #222;
  width: 100vw;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 60px;
  position: fixed;
  z-index: 100;
  background-color: #fff;
}

.PageHeader-logo {
  display: inline-block;
  font-size: 40px;
}

.PageHeader-user {
  float: right;
}

.PageHeader-hero {
  cursor: pointer;
  font-size: 40px !important;
  font-family: 'Warnes', Arial, Helvetica, sans-serif;
  /* background-color: black;
  color: white; */
}