.UserDetails-unknown{
    text-align: center;
    padding-top: 100px;
}

.UserDetails-user{
    text-align: center;
    padding: 20px;
}


.UserDetails-user p span.tag{
    background-color: #f5f5f5;
}

.UserDetails-user p span{
    padding: 1px 9px;
    border: 1px solid rgba(0,0,0,0.1);
}

.UserDetails-stuff{
    padding: 20px;
}
.UserDetails-image{
    padding-bottom: 20px;
    width: 150px;
}
.UserDetails-user fieldset hr{
    width: 50%;
    display: inline-block;
}
