.ThreadFooter {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.336);
  font-family: monaco, meleno, monospace;
  float: left;
  width: 100%;
  height: 50px;
}

.ThreadFooter-docked {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 1);
  font-family: monaco, meleno, monospace;
  float: left;
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 100;
  padding: 5px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.ThreadFooter-docked .ThreadFooter-user-image {
  width: 50px;
  height: auto;
  float: right;
  cursor: pointer;
  border-radius: 50px;
}

.ThreadFooter .ThreadFooter-user-image {
  width: 50px;
  height: auto;
  border-radius: 50px;
  float: right;
  cursor: pointer;
}

.ThreadFooter-user-image {
  width: 50px;
  height: auto;
  border-radius: 50px;
  float: right;
  cursor: pointer;
  transition: all 0.5s;
}

.ThreadFooter-user-image:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.22);
}

.ThreadFooter-elements {
  height: 50px;
  display: inline-block;
  text-align: left;
  padding: 15px;
  padding-left: 20px;
}
.ThreadFooter-elements p {
  margin: -10px;
}

.ThreadFooter-like {
  user-select: none;
  font-size: 25px;
  float: right;
  margin-right: 70px;
  padding: 11px;
  transition: all 0.5s;
}

.ThreadFooter-like span:hover {
  animation: pound 0.3s;
}

@keyframes pound {
  from {
    transform: none;
  }
  30% {
    transform: scale(1.4);
  }
  to {
    transform: none;
  }
}

.color-red {
  color: red;
}

@media only screen and (max-width: 500px) {
  .ThreadFooter-like {
    margin-right: 10px;
  }
}
